.imagem-logo{

    width: 30px;
    height:30px;
    font-family: AbrilFatFace;
    font: 30px;
    color: white;
    
}


@font-face{
    font-family: AbrilFatFace;
    src:"/Users/arthursantiago/Desktop/UFJF/Trainee/fontes"('AbrilFatFace.otf');
}

.barra{
        margin-bottom: 2%;
        background: #007bff;
        background: linear-gradient(to right, #5271ff, #0062E6, #33AEFF);
      
}
.seguradora-nome{
    text-align: left;
    color: white;
}

.tabela-seguros{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.centralizado{
    text-align: center;
    margin-bottom:-10px;
}

.botao {
    width: 80px;
    height: 35px;
    
}

.botaoAdd{
    margin-left: 45px;
}

.fix{
    width: 0%;
}

@media (max-width: 1150px){
    .tabela-seguros{
        margin-left: 5%;
        margin-right: -60%;
    }
    .navbar{
        width: 170%;
    }
}

@media (max-width: 500px){
    .tabela-seguros{
        margin-right: -175%;
    }
    .navbar{
        width: 280%;
    }
}

@media (max-width: 400px){
    .tabela-seguros{
        margin-right: -210%;
    }
    .navbar{
        width: 320%;
    }
}

@media (max-width: 350px){
    .tabela-seguros{
        margin-right: -250%;
    }
    .navbar{
        width: 360%;
    }
}